.NtosHeader__left {
  position: absolute;
<<<<<<< HEAD
  left: 1em;
=======
  left: 12px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
}

.NtosHeader__right {
  position: absolute;
<<<<<<< HEAD
  right: 1em;
}

.NtosHeader__icon {
  margin-top: -0.75em;
  margin-bottom: -0.5em;
=======
  right: 12px;
}

.NtosHeader__icon {
  margin-top: -9px;
  margin-bottom: -6px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  vertical-align: middle;
}
