#ignore misc BYOND files
Thumbs.db
vchat.db
vchat.db*
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*.pyc
*.pid
data
data/
cfg/

#Visual studio stuff
*.vscode/*
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/tasks.json

node_modules/
package-lock.json
