@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;
$scrollbar-color-multiplier: 1 !default;

$_channel_map: (
  // Radio (EVA, Cas, Int use default color)
  '010': #1e90ff,
  'Cmd': #57b8f0,
  'Eng': #fcdf03,
  'Dept': #1ecc43,
  'ERT': #5c5c8a,
  'Med': #57f09e,
  'Sci': #c68cfa,
  'AI': #d65d95,
  'Sec': #dd3535,
  'Merc': #8f4a4b,
  'Sup': #b88646,
  'Srv': #6ca729,
  'Rai': #8f4a4b,
  'ITV': #8a8a8a,
  // Modes
  'LOOC': #3a9696,
  'Me': #485fce,
  'OOC': #cca300,
  'Radio': #1ecc43,
  'Say': #a4bad6,
  'Whis': #7c7fd9,
  'Subtle': #c52076
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
