@use 'sass:color';
@use './colors.scss';

.window {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  overflow: hidden;
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .window {
    height: 100%;
    width: 100%;
  }
}

.window-lightMode {
  background-color: colors.$lightMode;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-50 {
  height: 50px;
}

.window-70 {
  height: 70px;
}

.window-90 {
  height: 90px;
}

.window-110 {
  height: 110px;
}

.window-130 {
  height: 130px;
}
