# MySQL database root password
db_password=SUPERSEKRETOMYGOD
# MySQL database name
db_name=virgo
# MySQL login username
dbuser_username=sillyusername
# MySQL login password
dbuser_password=somekindofpassword