@use '~tgui-core/styles/functions.scss' as fn;

.IDCard__NamePlate {
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 6px;
  padding: 0.5em;
  border-top: fn.em(2px) solid var(--id-separator-color);
  font-size: fn.em(14px);
  font-weight: bold;
}
