@keyframes microwave-floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

.Microwave__Hover {
  animation: microwave-floating 2s ease-in-out infinite;
}
