.NineMen__Tile {
  position: absolute;
  transform: translate(-50%, -50%) scale(0.9);
  line-height: '60px';
  justify-content: 'center';
  display: 'flex';
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
}
