.Techweb__NodeProgress {
  margin-bottom: var(--space-xl);
}

.Techweb__DesignIcon {
  margin: 0 var(--space-s);
}

.Techweb__OverviewNodes {
  padding-top: var(--space-m);
}

.Techweb__HeaderContent {
  padding: var(--space-m);
  background-color: var(--color-black);
  border: var(--border-thickness-tiny) solid var(--color-primary);
}

.Techweb__HeaderContent > * > :not(:last-child) {
  margin-bottom: var(--space-m);
}

.Techweb__HeaderSectionTabs {
  margin-top: var(--space-l);
  background-color: var(--color-black);
  border: var(--border-thickness-tiny) solid var(--color-primary);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.Techweb__HeaderTabTitle {
  border-right: var(--border-thickness-tiny) solid var(--color-primary);
  padding-right: var(--space-m);
  margin-right: var(--space-m);
  font-weight: bold;
}

.Techweb__HeaderSectionTabs input {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.Techweb__PointSummary {
  list-style: none;
  margin: var(--space-m) 0 0 var(--space-l);
  padding: 0;
}

.Techweb__SecProtocol {
  color: var(--color-bad);
  margin-left: var(--space-s);
}

.Techweb__SecProtocol.engaged {
  color: var(--color-good);
}

.Techweb__DesignModal > :not(:last-child) {
  margin-bottom: var(--space-m);
}

.Techweb__LockedModal > :not(:last-child) {
  margin-bottom: var(--space-m);
}

.Techweb__ExperimentDiscount {
  color: var(--color-label);
  margin: var(--space-m) 0;
}

@keyframes bounce {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 100px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes wink {
  0% {
    height: 20px;
  }

  50% {
    height: 60px;
  }

  100% {
    height: 20px;
  }
}

.Techweb__Bounce {
  animation: bounce 2s ease-in-out infinite;
}

.Techweb__HappyFace__LeftEye {
  background-color: white;
  margin-bottom: 20px;
  height: 20px;
  width: 20px;
  animation: wink 2s ease-in-out infinite;
}

.Techweb__HappyFace__RightEye {
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: white;
  height: 60px;
  width: 20px;
}

.Techweb__HappyFace__Smile {
  background-color: white;
  width: 80px;
  height: 20px;
  border-radius: 0px 0px 10px 10px;
}
