@use 'sass:color';
@use '../base.scss';
@use '../colors.scss';

$color-background: rgba(255, 0, 0, 0.35) !default;
$color-separator: rgba(255, 0, 0, 1) !default;

.Section--elevator--fire {
  background-color: color.adjust($color-background, $lightness: 10%, $alpha: 1);
  background-color: $color-background;
}

.Section--elevator--fire > .Section__title {
  padding: 0.5em;
  border-bottom: base.em(2px) solid $color-separator;
}
