@use 'sass:color';
@use '../base.scss';
@use '../colors.scss';

.Section--elevator--fire {
  background-color: hsl(
    from var(--turbolift-background) h s calc(l + 10) 1
  ) !important;

  background-color: var(--turbolift-background);
}

.Section--elevator--fire > .Section__title {
  padding: 0.5em;
  border-bottom: base.em(2px) solid var(--turbolift-separator);
}
