@use '~tgui-core/styles/functions.scss' as fn;

.Section--elevator--fire {
  background-color: hsl(from var(--turbolift-background) h s calc(l + 10) 1);
}

.Section--elevator--fire > .Section__title {
  padding: 0.5em;
  border-bottom: fn.em(2px) solid var(--turbolift-separator);
}
