<!-- 
Title: Body Scanner UI
Used In File(s): \code\game\machinery\adv_med.dm
 -->
{{if !data.occupied}}
	<h3>No occupant detected.</h3>
{{else}}
	<h4><b>Occupant Data:</b></h4>
	<div class="item">
		<div class="itemLabelNarrow">
			Name: 
		</div>
		<div class="itemContent">
			{{:data.occupant.name}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Health:
		</div>
		{{:helper.displayBar(data.occupant.health, 0, data.occupant.maxHealth, (data.occupant.health >= 50) ? 'good' : (data.occupant.health >= 25) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.round(data.occupant.health / data.occupant.maxHealth)*100}}%
			</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Status:
		</div>
		<div class="itemContent">
			{{if data.occupant.stat==0}}
				Stable
			{{else data.occupant.stat==1}}
				Non-Responsive
			{{else}}
				Dead
			{{/if}}
		</div>
	</div>
	{{:helper.link('Print', 'document', {'print_p' : 1, 'name' : data.occupant.name})}}
	<h4><b>Damage:</b></h4>
	<table class='item'>
		<tr>
			<td class='itemLabel' style='width: 10%;'>Brute:</td>
			<td class='itemContent brute' style='width: 10%;'>{{:data.occupant.bruteLoss}}</td>
			<td class='itemLabel' style='width: 15%;'>Brain:</td>
			<td class='itemContent' style='width: 15%;'>{{:data.occupant.brainLoss}}</td>
		</tr>
		<tr>
			<td class='itemLabel' style='width: 10%;'>Burn:</td>
			<td class='itemContent burn' style='width: 10%;'>{{:data.occupant.fireLoss}}</td>
			<td class='itemLabel' style='width: 15%;'>Radiation:</td>
			<td class='itemContent' style='width: 15%;'>{{:data.occupant.radLoss}}</td>
		</tr>
		<tr>
			<td class='itemLabel' style='width: 10%;'>Oxygen:</td>
			<td class='itemContent oxyloss' style='width: 10%;'>{{:data.occupant.oxyLoss}}</td>
			<td class='itemLabel' style='width: 15%;'>Genetic:</td>
			<td class='itemContent' style='width: 15%;'>{{:data.occupant.cloneLoss}}</td>
		</tr>
		<tr>
			<td class='itemLabel' style='width: 10%;'>Toxins:</td>
			<td class='itemContent toxin' style='width: 10%;'>{{:data.occupant.toxLoss}}</td>
			<td class='itemLabel' style='width: 15%;'>Paralysis:</td>
			<td class='itemContent' style='width: 20%;'>{{:data.occupant.paralysis}}% ({{:data.occupant.paralysisSeconds}} seconds left!)</td>
		</tr>
		<tr>
			<td class='itemLabelNarrow'>Body Temperature:</td>
			<td class="itemContentMedium">{{:helper.round(data.occupant.bodyTempC*10)/10}}&deg;C, {{:helper.round(data.occupant.bodyTempF*10)/10}}&deg;F</td>
		</tr>
		<!-- VORESTATION SECTION -->
		<tr>
			<td class='itemLabelNarrow'>Body Weight:</td>
			<td class='itemContentMedium'>{{:helper.round(data.occupant.weight)}} lbs, {{:helper.round(
			data.occupant.weight/2.20463)}} kgs</td>
		{{if data.occupant.humanPrey}}
			<tr>
				<td class='itemLabel brute'>Foreign Humanoids:</td>
				<td class='itemContent brute'>{{:data.occupant.humanPrey}}</td>
			</tr>
		{{/if}}
		{{if data.occupant.livingPrey}}
			<tr>	
				<td class='itemLabel brute'>Foreign Creatures:</td>
				<td class='itemContent brute'>{{:data.occupant.livingPrey}}</td>
			</tr>
		{{/if}}
		{{if data.occupant.objectPrey}}
			<tr>	
				<td class='itemLabel brute'>Foreign Objects:</td>
				<td class='itemContent brute'>{{:data.occupant.objectPrey}}</td>
			</tr>
		{{/if}}
		<!-- VORESTATION END -->

	</table>
	</div>
	{{if data.occupant.hasVirus}}
		<div class="notice">
			Viral pathogen detected in blood stream.
		</div>
	{{/if}}
	{{if data.occupant.hasBorer}}
		<div class="notice">
			Large growth detected in frontal lobe, possibly cancerous. Surgical removal is recommended.
		</div>
	{{/if}}
	{{if data.occupant.blind}}
		<div class="item bad">Pupils unresponsive.</div>
	{{/if}}
	{{if data.occupant.nearsighted}}
		<div class="item bad">Retinal Misalignment Detected</div>
	{{/if}}
	<h4><b>Blood</b></h4>
	<table class="item">
		<tr>
			<td class='itemLabel' style='width: 10%;'>Volume:</td>
			<td class='itemContent' style='width: 10%;'>{{:data.occupant.blood.volume}}</td>
			<td class='itemLabel' style='width: 10%;'>Percent:</td>
			<td class='itemContent' style='width: 10%;'>{{:data.occupant.blood.percent}}%</td>
		</tr>
	</table>
	<h4>Blood Reagents</h4>
	{{if data.occupant.reagents}}
		<table class='item'>
			{{for data.occupant.reagents}}
				<tr>
					<td class='itemLabel' style='width: 20%;'>{{:value.name}}:</td>
					<td class='itemContent' style='width: 10%;'>{{:value.amount}}</td>
				</tr>
			{{/for}}
		</table>
	{{else}}
		<div class='item'>No blood reagents detected.</div>
	{{/if}}
	<h4>Stomach Reagents</h4>
	{{if data.occupant.ingested}}
		<table class='item'>
			{{for data.occupant.ingested}}
				<tr>
					<td class='itemLabel' style='width: 20%;'>{{:value.name}}:</td>
					<td class='itemContent' style='width: 10%;'>{{:value.amount}}</td>
				</tr>
			{{/for}}
		</table>
	{{else}}
		<div class='item'>No stomach reagents detected.</div>
	{{/if}}
	<h4><b>External Organs</b></h4>
	<div class="itemGroup">
	{{for data.occupant.extOrgan}}
		<div class="item">
			{{if value.status.destroyed}}
				<div class="itemLabelWide">
					<b>{{:value.name}}</b><span class="bad"> - DESTROYED</span>
				</div>
			{{else}}
				<div class="item">
					<div class="itemLabel">
						<b>{{:value.name}}</b>
					</div>
				</div>
				<div class="itemContentNarrow">
					{{if value.status.broken}}
						{{:value.status.broken}}
					{{else value.status.splinted}}
						Splinted
					{{else value.status.robotic}}
						Robotic
					{{/if}}
				</div>
				<div class="itemLabelWide">
					&nbsp;Brute/Burn
				</div>
				<div class="itemContentNarrow">
					{{:value.bruteLoss}}/{{:value.fireLoss}}
				</div>
				<div class="itemLabelWide">
					&nbsp;Injuries
				</div>
				<div class="itemContentNarrow">
					{{if !value.status.bleeding}}
						{{if !value.status.internalBleeding}}
							No Injuries Detected
						{{else}}
							<span class="bad">Internal Bleeding Detected</span>
						{{/if}}
					{{else}}
						{{if value.status.internalBleeding}}
							<div class='notice'>Internal Bleeding Detected. External Bleeding Detected.</div>
						{{else}}
							<span class="average">External Bleeding Detected</span>
						{{/if}}
					{{/if}}
				</div>
				{{if value.germ_level > 100}}
					<div class="itemLabelWide">
						&nbsp;Infection
					</div>
					<div class="itemContentNarrow">
						{{if value.germ_level < 300}}
							Mild Infection
						{{else value.germ_level < 400}}
							Mild Infection+
						{{else value.germ_level < 500}}
							Mild Infection++
						{{else value.germ_level < 700}}
							Acute Infection
						{{else value.germ_level < 800}}
							Acute Infection+
						{{else value.germ_level < 950}}
							Acute Infection++
						{{else value.germ_level >= 950}}
							Gangrene Detected
						{{/if}}
					</div>
				{{/if}}
				{{if value.status.dead}}
					<div class="itemLabelWide">
						&nbsp;Necrosis
					</div>
					<div class="itemContentNarrow">
						Necrotic Tissue Present
					</div>
				{{/if}}
				{{if value.open}}
					<div class="itemLabelWider">
						&nbsp;Operation Status
					</div>
					<div class="itemContentNarrow">
						Open Incision
					</div>
				{{/if}}
				{{if value.implants_len}}
					<div class="itemLabelWide">
						&nbsp;Implants
					</div>
					{{for value.implants :impValue:impindex}}
						<div class="itemContentNarrow">
							&nbsp;&nbsp;{{:impValue.known ? impValue.name : "Unknown"}}
						</div>
					{{/for}}
				{{/if}}
			{{/if}}
		</div>
	{{/for}}
	</div>
	<h4><b>Internal Organs</b></h4>
	<div class="itemGroup">
	{{for data.occupant.intOrgan}}
		<div class="item">
			<div class="itemLabelWide">
				<b>{{:value.name}}</b>
			</div>
			<div class='itemContentNarrow'>
				{{:value.desc != null ? value.desc : ""}}
			</div>
		</div>
		<div class="item">
			{{if value.germ_level > 100}}
				<div class="itemLabel">
					&nbsp;Infection
				</div>
				<div class="itemContentNarrow">
					{{if value.germ_level < 300}}
						Mild Infection
					{{else value.germ_level < 400}}
						Mild Infection+
					{{else value.germ_level < 500}}
						Mild Infection++
					{{else value.germ_level < 700}}
						Acute Infection
					{{else value.germ_level < 800}}
						Acute Infection+
					{{else value.germ_level < 950}}
						Acute Infection++
					{{else value.germ_level >= 950}}
						Necrosis Detected
					{{/if}}
				</div>
			{{/if}}
			<div class="itemLabelWide">
				&nbsp;Damage
			</div>
			<div class="itemContentNarrow">
				{{:value.damage}}
			</div>
		</div>
	{{/for}}
	</div>
{{/if}}