<!-- 
Title: Parts Lathe UI
Used In File(s): \code\game\machinery\partslathe.dm
 -->
{{if data.errorText }}
	<div class='statusDisplay'><span class='bad'>{{:data.errorText}}</span></div><BR>
{{/if}}

<div class="statusDisplay">
	<div class="line">
		{{if data.usePower==2}}
			{{:helper.link('Deactivate Processing', 'power', {'deactivate' : 1})}}
		{{else}}
			{{:helper.link('Activate Processing', 'power', {'activate' : 1})}}
		{{/if}}
	</div>
	<div class="line">
		<div class="statusLabel">Flow Rate</div>
		<div class="statusValue">{{:helper.fixed(data.last_flow_rate)}} L/s</div>
	</div>
	<div class="line">
		<div class="statusLabel">Power Draw</div>
		<div class="statusValue">{{:helper.formatNumber(data.last_power_draw)}} Watts</div>
	</div>
</div>

<h3>Materials</h3>
<div class="statusDisplay">
	{{for data.materials }}
		<div class="line">
			<div class="statusLabel">{{:value.display.toTitleCase()}}</div>
			<div class="statusValue">{{:helper.displayBar(value.percent, 0, 100, 
				(value.percent < 25) ? 'bad' : (value.percent < 50) ? 'average' : 'good',
				value.qty + "/" + value.max )}}</div>
			<div class="statusValue">{{:helper.link("Eject", 'eject', {'ejectMaterial' : value.name })}}</div>
		</div>
	{{/for}}
</div>

<h3>Gas Input ({{:data.inputDir}})</h3>
<div class="statusDisplay">
	{{if data.input}}
	<div class="line">
		<div class="statusLabel">Total Pressure</div>
		<div class="statusValue">{{:data.input.pressure}} kPa</div>
	</div>
	<div class="line">
		<div class="statusLabel">{{:data.input.name}}</div>
		<div class="statusValue">{{:helper.fixed(data.input.percent)}}% ({{:helper.fixed(data.input.moles)}} moles)</div>
	</div>
	{{else}}
	<div class="line bad">Not Connected</div>
	{{/if}}
</div>

<h3>Gas Output ({{:data.outputDir}})</h3>
<div class="statusDisplay">
	{{if data.output}}
	<div class="line">
		<div class="statusLabel">Total Pressure</div>
		<div class="statusValue">{{:data.output.pressure}} kPa</div>
	</div>
	<div class="line">
		<div class="statusLabel">{{:data.output.name}}</div>
		<div class="statusValue">{{:helper.fixed(data.output.percent)}}% ({{:helper.fixed(data.output.moles)}} moles)</div>
	</div>
	{{else}}
	<div class="line bad">Not Connected</div>
	{{/if}}
</div>
