<!-- 
	Interface for battle arcade machines 
	See: code/game/machinery/computer/arcade.dm
-->

<h3 style='text-align: center;'>{{:data.enemyName}}</h3>
{{if data.gameOver}}
	<h5 style='text-align: center;'>{{:data.temp}}</h5>
{{else}}
	<h5 style='text-align: center;'>{{:data.temp}}</h5>
	<h5 style='text-align: center;'>{{:data.enemyAction}}</h5>
{{/if}}
<div class='item'>
	<div class='itemLabel' style='width: auto; margin-right: 5px;'>Health:</div>
	<div class='itemContent' style='width: auto; margin-right: 15px;'><b>{{:data.playerHP}}</b></div>
	<div class='itemLabel' style='width: auto; margin-right: 5px;'>Magic:</div>
	<div class='itemContent' style='width: auto; margin-right: 15px;'><b>{{:data.playerMP}}</b></div>
	<div class='itemLabel' style='width: auto; margin-right: 5px;'>Enemy Health:</div>
	<div class='itemContent' style='width: auto; margin-right: 15px;'><b>{{:data.enemyHP}}</b></div>
</div>

{{if data.gameOver}}
	<div class='item'>{{:helper.link('New Game', null, {'newgame' : 1})}}</div>
{{else}}
	<div class='item'>
		{{:helper.link('Attack', null, {'attack' : 1})}}
		{{:helper.link('Heal', null, {'heal' : 1})}}
		{{:helper.link('Recharge Power', null, {'charge' : 1})}}
	</div>
{{/if}}