<div class="item">
    {{if data.aircontents.reading == 1}}
		<div class="itemLabel">
			Pressure:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1} kPa</span>', data.aircontents.pressure < 80 || data.aircontents.pressure > 120 ? 'bad' : data.aircontents.pressure < 95 || data.aircontents.pressure > 110 ? 'average' : 'good' , data.aircontents.pressure)}}
		</div>
		<div class="itemLabel">
			Temperature:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1} &deg;C</span>', data.aircontents.temp < 5 || data.aircontents.temp > 35 ? 'bad' : data.aircontents.temp < 15 || data.aircontents.temp > 25 ? 'average' : 'good' , data.aircontents.temp)}}
		</div>
		<br>
		<div class="itemLabel">
			Oxygen:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.oxygen < 17 ? 'bad' : data.aircontents.oxygen < 19 ? 'average' : 'good' , data.aircontents.oxygen)}}
		</div>
		<div class="itemLabel">
			Nitrogen:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.nitrogen > 82 ? 'bad' : data.aircontents.nitrogen > 80 ? 'average' : 'good' , data.aircontents.nitrogen)}}
		</div>
		{{if data.aircontents.carbon_dioxide > 0}}				
		<div class="itemLabel">
			Carbon Dioxide:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.carbon_dioxide > 5 ? 'bad' : 'good' , data.aircontents.carbon_dioxide)}}
		</div>
		{{/if}}
		{{if data.aircontents.phoron > 0}}
		<div class="itemLabel">
			Phoron:
		</div>
		<div class = "itemContent">
			{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.phoron  > 0 ? 'bad' : 'good' , data.aircontents.phoron)}}
		</div>
		{{/if}}
		{{if data.aircontents.other > 0}}
			<div class="itemLabel">
				Unknown:
			</div>
			<div class = "itemContent">
				<span class="bad">{{:data.aircontents.other}}%</span>
			</div>
		{{/if}}
	{{else}}
		<div class="itemContent" style="width: 100%;">
			<span class="average"><b>Unable to get air reading</b></span>
		</div>
	{{/if}}
</div>