<div class="statusDisplay" style="height: 250px; overflow: auto;">
	{{for data.aircontents}}
		{{if value.val != 0 || value.entry == "pressure" || value.entry == "temperature"}}
			<div class="item">
				<div class="itemLabel">
					{{:value.entry}}:
				</div>
				<div class="itemContent">
					{{:helper.string('<span class="{0}">{1}{2}</span>', value.val < value.bad_low || value.val > value.bad_high ? 'bad' : value.val < value.poor_low || value.val > value.poor_high ? 'average' : 'good' , value.val, value.units)}}
				</div>
			</div>
		{{/if}}
	{{/for}}
</div>