
<b>{{:data.temp}}</b>

{{if data.disk}}
	{{:helper.link('Save To Disk', 'disk', {'savetodisk' : 1}, data.activeBodyRecord ? null : 'linkOff')}}
	{{:helper.link('Load From Disk', 'folder-open', {'loadfromdisk' : 1}, data.diskStored ? null : 'linkOff')}}
	{{:helper.link('Eject Disk', 'eject', {'ejectdisk' : 1})}}
{{/if}}

<!-- {{:helper.link('DEBUG: Load My Body', 'eject', {'debug_load_my_body' : 1})}} -->

<!-- Menu1: Main Menu -->
{{if data.menu == 1}}
	<!-- Database -->
	<h3>Database Functions</h3>
	<div class='item'>
		{{:helper.link('View Individual Body Records', 'list', {'menu' : 2})}}
	</div>
	<div class='item'>
		{{:helper.link('View Stock Body Records', 'list', {'menu' : 3})}}
	</div>

<!-- Menu2: Body record list -->	
{{else data.menu == 2}}
	<h3>Current body records</h3>
	{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 1})}}
	<div class='item'>
		{{for data.bodyrecords}}
			{{:helper.link(value.name, 'document', {'view_brec' : value.recref})}}
		{{/for}}
	</div>

<!-- Menu3: Stock body record list -->	
{{else data.menu == 3}}
	<h3>Stock body records</h3>
	{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 1})}}
	<div class='item'>
		{{for data.stock_bodyrecords}}
			{{:helper.link(value, 'document', {'view_stock_brec' : value})}}
		{{/for}}
	</div>

<!-- Menu4: Specific body record -->
{{else data.menu == 4}}
	<h3>Selected Body Record</h3>
	<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 1})}}</div>

	{{if data.activeBodyRecord}}
		<div class='item'>
			<div class='itemLabel'>Name:</div>
			<div class='itemContent'>{{:data.activeBodyRecord.real_name}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Species:</div>
			<div class='itemContent'>{{:data.activeBodyRecord.speciesname}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Bio. Sex:</div>
			<div class='itemContent'>{{:helper.link(data.activeBodyRecord.gender, null, {'bio_gender' : 1})}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Synthetic:</div>
			<div class='itemContent'>{{:data.activeBodyRecord.synthetic}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Mind compat.:</div>
			<div class='itemContentNarrow'>{{:data.activeBodyRecord.locked}}</div>
			<div class='itemContentNarrow'>{{:helper.link('View OOC Notes', null, {'boocnotes' : 1}, data.activeBodyRecord.booc ? null : 'linkOff')}}</div>
		</div>

		<div class='statusDisplay'>
			<center>
				<img src="{{:data.previewIconUrl}}">
			</center>
		</div>
		<div class='item'>
			<div class='itemLabel'>Scale:</div>
			<div class='itemContent'>{{:helper.link(data.activeBodyRecord.scale, null, {'size_multiplier' : 1})}}</div>
		</div>

		{{props data.activeBodyRecord.styles}}
			<div class='item'>
				<div class='itemLabel'>{{:key}}:</div>
				<div class='itemContent'>
					{{if value.styleHref}}
						<!-- Look, about the parameter magic here... just don't ask ok? -->
						{{:helper.link(value.style, null, (a={},a[value.styleHref]=1,a))}}
					{{/if}}
					{{if value.colorHref}}
						{{:helper.link(value.color, null, (a={},a[value.colorHref]=1,a))}}
						<div class="linkOff" style="background: {{:value.color}};">&nbsp;</div>
					{{/if}}
				</div>
			</div>
		{{/props}}

		<div class='itemGroup'>
			<div class='item'>
				<div class='itemLabel'>Body Markings</div>
				<div class='itemContent'>
					{{:helper.link('Add Marking', 'plus', {'marking_style' : 1})}}
				</div>
			</div>
			{{props data.activeBodyRecord.markings}}
				<div class='item'>
					<span style='float: left;'>{{:key}}&nbsp;</span>
					<div style="background: {{:value}};" unselectable="on" class="linkActive link"
						data-href="{{:NanoUtility.generateHref({marking_color: key})}}">&nbsp;</div>
					{{:helper.link('', 'minus', {'marking_remove' : key})}}
				</div>
			{{props}}
		</div>
	{{else}}
		<div class='item bad'>ERROR: Record not found.</div>
	{{/if}}

<!-- Menu6: Body OOC Notes -->	
{{else data.menu == 6}}
	<h3>Body OOC Notes (This is OOC!)</h3>
	<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 4})}}</div>
	{{if data.activeBodyRecord}}
		<div class='itemLabel'>Notes:</div>
		<div class='itemContent multiLine'>{{:data.activeBodyRecord.booc}}</div>
	{{else}}
		<div class='item bad'>ERROR: Record not found.</div>
	{{/if}}

{{/if}}
<pre style="display: none;">{{:JSON.stringify(data, null, 2)}}</pre>
