<!-- 
	Interface for chem master
	See: code/modules/reagents/Chemistry-Machinery.dm
-->
{{if data.tab == 'home'}}
	<div class='item'>
		<div class='itemLabel'>{{:helper.link(data.pillBottle ? 'Eject Pill Bottle' : 'No pill bottle inserted', 'eject', {'ejectp' : 1}, data.pillBottle ? null : 'linkOff')}}</div>

		{{if data.pillBottle}}
			<div class='itemContent'>{{:data.pillBottle.total}} / {{:data.pillBottle.max}}</div>
		{{/if}}
	</div>
	<div class='item'>{{:helper.link(data.beaker ? 'Eject Beaker and Clear Buffer' : 'Please insert beaker', 'eject', {'eject' : 1}, data.beaker ? null : 'linkOff')}}</div>
	
	{{if data.beaker}}
		{{if data.beaker.total_volume}}
			Add to buffer:
			{{for data.beaker.reagent_list}}
				<div class='item'>
					<div class='itemLabelNarrow'>{{:value.name}}</div>
					<div class='itemContent'>{{:value.volume}} Units</div>
				</div>
				<div class='item'>
					{{:helper.link('Analyze', 'signal-diag', {'tab_select' : 'analyze', 'desc' : value.description, 'name' : value.name})}}
					{{:helper.link('1', 'plus', {'add' : value.id, 'amount' : 1})}}
					{{:helper.link('5', 'plus', {'add' : value.id, 'amount' : 5})}}
					{{:helper.link('10', 'plus', {'add' : value.id, 'amount' : 10})}}
					{{:helper.link('30', 'plus', {'add' : value.id, 'amount' : 30})}}
					{{:helper.link('60', 'plus', {'add' : value.id, 'amount' : 60})}}
					{{:helper.link('All', 'plus', {'add' : value.id, 'amount' : value.volume})}}
					{{:helper.link('Custom', 'plus', {'addcustom' : value.id})}}
				</div>
			{{/for}}
		{{else}}
			Beaker is empty.
		{{/if}}
		<hr>
		<div class='item'>
			<div class='itemLabelNarrow'>Transfer to</div>
			{{:helper.link(!data.mode ? 'disposal' : 'beaker', null, {'toggle' : 1})}}
		</div>
		{{if data.reagents}}
			{{if data.reagents.total_volume}}
				{{for data.reagents.reagent_list}}
					<div class='item'>
						<div class='itemLabelNarrow'>{{:value.name}}</div>
						<div class='itemContent'>{{:value.volume}} Units</div>
					</div>
					<div class='item'>
						{{:helper.link('Analyze', 'signal-diag', {'tab_select' : 'analyze', 'desc' : value.description, 'name' : value.name})}}
						{{:helper.link('1', 'minus', {'remove' : value.id, 'amount' : 1})}}
						{{:helper.link('5', 'minus', {'remove' : value.id, 'amount' : 5})}}
						{{:helper.link('10', 'minus', {'remove' : value.id, 'amount' : 10})}}
						{{:helper.link('30', 'minus', {'remove' : value.id, 'amount' : 30})}}
						{{:helper.link('60', 'minus', {'remove' : value.id, 'amount' : 60})}}
						{{:helper.link('All', 'minus', {'remove' : value.id, 'amount' : value.volume})}}
						{{:helper.link('Custom', 'minus', {'removecustom' : value.id})}}
					</div>
				{{/for}}
			{{/if}}
		{{else}}
			Empty
		{{/if}}
		{{if !data.condi}}
			<hr>
			<div class='item'>
				{{:helper.link('Create pill (60 units max)', null, {'createpill' : 1})}}
				{{:helper.link('Create multiple pills', null, {'createpill_multiple' : 1})}}
				{{:helper.link('Create bottle (60 units max)', null, {'createbottle' : 1})}}
				{{:helper.link('Create patch (60 units max)', null, {'createpatch' : 1})}}
			</div>
			<div class='item'>
				{{:helper.link('', 'pill pill' + data.pillSprite, {'tab_select' : 'pill'}, null, 'link32')}}
				{{:helper.link('', 'pill bottle' + data.bottleSprite, {'tab_select' : 'bottle'}, null, 'link32')}}
			</div>
		{{else}}
			<hr>
			<div class='item'>
				{{:helper.link('Create bottle (50 units max)', null, {'createbottle' : 1})}}
				{{:helper.link('Create bouillon cube (60 units max)', null, {'createpill' : 1})}}
			</div>
		{{/if}}
	{{/if}}

{{else data.tab == 'analyze'}}
	{{if !data.condi}}
		<h3>Chemical Info:</h3>
	{{else}}
		<h3>Condiment Info:</h3>
	{{/if}}
	<div class='item'>
		<div class='itemLabel'>Name:</div>
		<div class='itemContent'>{{:data.analyzeData.name}}</div>
	</div>
	{{if data.analyzeData.name == 'Blood'}}
		<div class='item'>
			<div class='itemLabel'>Blood Type:</div>
			<div class='itemContent'>{{:data.analyzeData.blood_type}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>DNA:</div>
			<div class='itemContent'>{{:data.analyzeData.blood_DNA}}</div>
		</div>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Description:</div>
			<div class='itemContent'>{{:data.analyzeData.desc}}</div>
		</div>
	{{/if}}
	{{:helper.link('Back', 'arrowreturn-1-w', {'tab_select' : 'home'})}}

{{else data.tab == 'pill'}}
	{{for data.pillSpritesAmount}}
		{{:helper.link('', 'pill pill' + value, {'pill_sprite' : value}, null, data.pillSprite == value ? 'linkOn link32' : 'link32')}}
	{{/for}}
	<div class='item'><br>{{:helper.link('Return', 'arrowreturn-1-w', {'tab_select' : 'home'})}}</div>
	
{{else data.tab == 'bottle'}}
	{{for data.bottleSpritesAmount}}
		{{:helper.link('', 'pill bottle' + value, {'bottle_sprite' : value}, null, data.bottleSprite == value ? 'linkOn link32' : 'link32')}}
	{{/for}}
	<div class='item'><br>{{:helper.link('Return', 'arrowreturn-1-w', {'tab_select' : 'home'})}}</div>
{{/if}}