<!--
Title: Communicator UI
Used In File(s): code\game\objects\items\devices\communicator\communicator.dm
 -->
 
<div class="statusDisplayComm">
	<div class="item">
		<div class="itemContent" style="width: 100%; text-align: center;">
			<span class="average">{{:data.time}} | </span>
			{{if data.connectionStatus == 1}}
				<img class='uiIcon16 icon-signal-green' style='float: none; vertical-align: top'></img>
			{{else}}
				<img class='uiIcon16 icon-alert-red' style='float: none; vertical-align: top'></img>
			{{/if}}
			<span class="average"> | {{:data.owner}} | {{:data.occupation}}</span>
		</div>
	</div>
</div>


<h3>Medical Records</h3>
{{if data.currentTab == "0"}}
	<div>
		{{for data.med_records}}
			<div class="item">
				{{:helper.link(value.name, '', {"switch_tab" : value.name})}}
			</div>
		{{/for}}
	</div>
{{/if}}
{{for data.med_records}}
	{{if value.name == data.currentTab}}
		<div class="itemContent" style="width: 100%;">{{:helper.link('Back', 'icon-triangle-1-w', {'switch_tab' : 0})}}</div><BR>
		{{for value.record :itemValue:itemIndex}}
			<div class="item">
				<div class="itemLabel">{{:itemValue.tab}}</div>
				<div class="itemContent">{{:itemValue.val}}</div>
			</div>
		{{/for}}
	{{/if}}
{{/for}}