<!-- crew manifest
code/modules/mob/living/silicon/pai/software_modules.dm
code/game/objects/items/devices/communicator/UI.dm
code/game/objects/items/devices/PDA/PDA.dm

Copy-pasted from pda.tmpl
-->

<h3>Crew Manifest</h3>

<HR>

<div class="item">
	<center><table class="pmon"><tbody>
		{{for data.manifest}}
			{{if value.elems.length}}
				<tr><th colspan="3" class={{:value.cat}}>{{:value.cat}}</th></tr>
				{{for value.elems :itemValue:itemIndex}}
					<tr>
						<td><span class="average">{{:itemValue.name}}</span></td>
						<td><span class="average">{{:itemValue.rank}}</span></td>
						<td><span class="average">{{:itemValue.active}}</span></td>
					</tr>
				{{/for}}
			{{/if}}
		{{/for}}
	</tbody></table></center>
</div>
