<h3>Employment Records</h3>
{{if data.currentTab == "0"}}
	<div>
		{{for data.emp_records}}
			<div class="item">
				{{:helper.link(value.name, '', {"switch_tab" : value.name})}}
			</div>
		{{/for}}
	</div>
{{/if}}
{{for data.emp_records}}
	{{if value.name == data.currentTab}}
		<div class="itemContent" style="width: 100%;">{{:helper.link('Back', 'icon-triangle-1-w', {'switch_tab' : 0})}}</div><BR>
		<div class="statusDisplayRecords">
			{{for value.record :itemValue:itemIndex}}
				<div class="item">
					<div class="itemLabel">{{:itemValue.tab}}</div>
					<div class="itemContent">{{:itemValue.val}}</div>
				</div>
			{{/for}}
		</div>
	{{/if}}
{{/for}}