{{if data.autopilot == 1}}
	<div class='notice'>
		<b><h3>AI PILOT (CLASS D) ACTIVE</h3></b>
		<i>This vessel will start and stop automatically.<br>
		Ensure that all non-cycling capable hatches and doors are closed, as the automated system may not be able to control them.<br>
		Docking and flight controls are locked. To unlock, disable the automated flight system.</i><br>
	</div>
{{/if}}

{{if data.can_rename == 1}}
	<div class='item'>
		<div class="itemContent">
			<div style="float: left; width: 100%;">
				{{:helper.link('Rename', 'pencil', {"rename_command" : 1})}}
			</div> 
		</div>
	</div>
{{/if}}

<h3>Shuttle Status</h3>
{{if data.is_moving == 0}}
	<div class="item">
		<div class="itemLabel">
			Current Location:
		</div>
		<div class="itemContent">
			{{:data.shuttle_location}}
		</div>
	</div>
{{/if}}

<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Engines:
		</div>
		<div class="itemContent">
			{{if data.shuttle_state == "idle"}}
				<span class="idle">IDLE</span>
			{{else data.shuttle_state == "warmup"}}
				<span style="font-weight: bold;color: #336699">SPINNING UP</span>
			{{else data.shuttle_state == "in_transit"}}
				<span style="font-weight: bold;color: #336699">ENGAGED</span>
			{{else}}
				<span class="bad">ERROR</span>
			{{/if}}
		</div>
	</div>
</div>

{{if data.is_moving == 0}}
	
	{{if data.skip_docking == 0}}
		<div class="item" style="padding-top: 10px">
			<div class="item">
				<div class="itemLabel">
					Docking Status:
				</div>
				<div class="itemContent">
					{{if data.docking_status == "docked"}}
						<span class="good">DOCKED</span>
					{{else data.docking_status == "docking"}}
						{{if !data.docking_override}}
							<span class="average">DOCKING</span>
						{{else}}
							<span class="average">DOCKING-MANUAL</span>
						{{/if}}
					{{else data.docking_status == "undocking"}}
						{{if !data.docking_override}}
							<span class="average">UNDOCKING</span>
						{{else}}
							<span class="average">UNDOCKING-MANUAL</span>
						{{/if}}
					{{else data.docking_status == "undocked"}}
						<span class="idle">UNDOCKED</span>
					{{else}}
						<span class="bad">ERROR</span>
					{{/if}}
					
					<span style="float:right">
						{{:helper.link('Dock', 'arrowthickstop-1-e', {'dock_command' : 1}, (data.docking_status != "undocked")? 'selected' : null)}}
						{{:helper.link('Undock', 'arrowthickstop-1-e', {'undock_command' : 1}, (data.docking_status != "docked")? 'selected' : null)}}
					</div>
					
				</div>

			</div>
		</div>
	{{/if}}
	
	{{if data.can_cloak == 1}}
		<div class="item">
			<div class="itemLabel">
				Shuttle Stealth System:
			</div>
			<span style="float:right">
				{{:helper.link('Cloak', 'radio-off', {'cloak_command' : 1}, (data.cloaked == 1)? 'selected' : null)}}
				{{:helper.link('Uncloak', 'radio-on', {'uncloak_command' : 1}, (data.cloaked == 0)? 'selected' : null)}}
			</div>
		</div>
	{{/if}}
	
	{{if data.can_autopilot == 1}}
		<div class="item">
			<div class="itemLabel">
				Automated Flight Control:
			</div>
			<span style="float:right">
				{{:helper.link('On', 'circle-check', {'autopilot_on_command' : 1}, (data.autopilot == 1)? 'selected' : null)}}
				{{:helper.link('Off', 'circle-close	', {'autopilot_off_command' : 1}, (data.autopilot == 0)? 'selected' : null)}}
			</div>
		</div>
	{{/if}}
	
{{/if}}

{{if data.is_moving == 0}}
	<h3>Available Destinations</h3>
	<HR>
	<div class="itemContent" style="width: 100%;"></div><BR>
		{{for data.routes}}
			<div class='item'>
				<div class="itemLabel">
				{{:value.name}}
				</div>
				<div class="itemContent">
					<div style="float: left; width: 100%;">
						{{:helper.link(value.travel_time, 'clock', {"traverse" : value.index})}}
					</div>
				</div>
			</div>
		{{/for}}
	</div>
{{/if}}

{{if data.is_in_transit == 1}}
	<h3>Destination ETA</h3>
	<div class="item">
		<div class="itemLabel">
			Distance from target:
		</div>
		<div class="itemContent">		
			{{:helper.displayBar(data.travel_progress, 0, 100, "good")}}
			<div class="statusValue">
				<span class="good">{{:data.time_left}}s</span>
			</div>
		</div>
	</div>
{{/if}}

{{if data.doors}}
	<h3>Hatch Status</h3>
	<HR>
	<div class="item">
		{{props data.doors}}
			<div class="item">
				<div class="itemLabel">{{:key}}</div>
				<div class="itemContent">
					{{if value.open}}
						<span class="bad">OPN</span>
					{{else}}
						<span class="good">CLS</span>
					{{/if}}
					 - 
					{{if value.bolted}}
						<span class="good">BLT</span>
					{{else}}
						<span class="bad">UBLT</span>
					{{/if}}
				</div>
			</div>
		{{/props}}
	</div>
{{/if}}

{{if data.sensors}}
	<h3>Air Readout</h3>
	<hr>
	{{props data.sensors}}
		<div class="item" style="position: relative; overflow: hidden;">
			<div class="itemLabel" style="padding-right: 2px; height: 100%; position:absolute;">
				<span style="position: relative;display: inline-block; top: 50%;left: 50%;transform: translate(-50%, -50%);">{{:key}}</span>
			</div>
			<div class="itemContentMedium statusDisplay floatRight" style="overflow: hidden;">
				{{if value.reading == 1}}
					<div class="itemLabelWide">
						Pressure:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1} kPa</span>', value.pressure < 80 || value.pressure > 120 ? 'bad' : value.pressure < 95 || value.pressure > 110 ? 'average' : 'good' , value.pressure)}}
					</div>
					<div class="itemLabelWide">
						Temperature:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1} &deg;C</span>', value.temp < 5 || value.temp > 35 ? 'bad' : value.temp < 15 || value.temp > 25 ? 'average' : 'good' , value.temp)}}
					</div>
					<br>
					<div class="itemLabelWide">
						Oxygen:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1}%</span>', value.oxygen < 17 ? 'bad' : value.oxygen < 19 ? 'average' : 'good' , value.oxygen)}}
					</div>
					<div class="itemLabelWide">
						Nitrogen:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1}%</span>', value.nitrogen > 82 ? 'bad' : value.nitrogen > 80 ? 'average' : 'good' , value.nitrogen)}}
					</div>
					<div class="itemLabelWide">
						Carbon&nbsp;Dioxide:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1}%</span>', value.carbon_dioxide > 5 ? 'bad' : 'good' , value.carbon_dioxide)}}
					</div>
					<div class="itemLabelWide">
						Phoron:
					</div>
					<div class = "itemContentSmall">
						{{:helper.string('<span class="{0}">{1}%</span>', value.phoron  > 0 ? 'bad' : 'good' , value.phoron)}}

					</div>
					{{if value.other > 0}}
						<div class="itemLabelWide">
							Unknown:
						</div>
						<div class = "itemContentSmall">
							<span class="bad">{{:value.other}}%</span>
						</div>
					{{/if}}
				{{else}}
					<div class="itemContent" style="width: 100%;">
						<span class="average"><b>Unable to get air reading</b></span>
					</div>
				{{/if}}
			</div>
		</div>
	{{/props}}
{{/if}}

