<H2>Integrated GPS</H2>

<!-- List current location -->
{{if data.gps_status.enabled}}
	<div class="item">
		Area: {{:data.gps_status.my_area_name}}, {{:data.gps_status.curr_z_name}}<br>
		GPS Coordinates: ({{:data.gps_status.curr_x}}, {{:data.gps_status.curr_y}})
	</div>
{{else}}
	<div class="item">
		<span class="bad">Error: Location data unavailable. No sensors online!</span>
	</div>
{{/if}}

<!-- List internal gps units -->
<div class="statusDisplayRecords">
	{{for data.gps_access}}
		<div class="item">
			<div class="itemLabel">
				{{:index}}: {{:value.tag}}
			</div>
			<div class="itemContent">
				{{:helper.link('On', 'power', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Power", 'value' : "1"}, value.power ? 'selected' : null)}}
				{{:helper.link('Off', 'stop', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Power", 'value' : "0"}, value.power ? null : 'selected')}}
				{{:helper.link('Edit Tag', 'power', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Tag", 'user' : data.user})}}
				{{if value.power}}
					{{if value.long_range}}
						<br>
						<!-- 'value' is inverted, because long range scanning is active-low on the variable local_mode -->
						{{:helper.string("Long range scanning is {0}.", value.local_mode ? "disabled" : "active")}}
						{{:helper.link('Enable', 'power', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Long_Range", 'value' : "0"}, value.long_range_en ? 'selected' : null)}}
						{{:helper.link('Disable', 'stop', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Long_Range", 'value' : "1"}, value.long_range_en ? null : 'selected')}}
					{{/if}}
					{{if value.can_hide}}
						<br>
						{{:helper.string("{0}", value.hide_signal ? "Broadcasting location" : "Receiving only       ")}} <!-- Lazy Padding -->
						{{:helper.link('Broadcast', 'power', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Hide_Signal", 'value' : "1"}, value.hide_signal ? 'selected' : null)}}
						{{:helper.link('Receive',    'stop', {'cartridge_topic' : "1", 'gps_target' : value.ref, 'gps_action' : "Hide_Signal", 'value' : "0"}, value.hide_signal ? null : 'selected')}}
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{empty}}
	{{/for}}
</div>

<!-- List remote GPS units -->
{{if data.gps_status.enabled}}
	<div class="statusDisplayRecords">
		{{for data.gps_signal}}
			<div class="item">
				<div class="itemLabel">
					{{:value.gps_tag}}
				</div>
				<div class="itemContent">
					Coordinates: ({{:value.x}}, {{:value.y}})
					<br>
					Area: {{:value.area_name}}, {{:value.z_name}}
					{{if value.local}}				
						{{:helper.string("Distance: {0}m {1} - {2}m {3}, {4}m {5}", value.distance < 0 ? 0 : value.distance, value.direction, helper.abs(value.distY), ((value.distY > 0) ? "N" : "S"), helper.abs(value.distX), ((value.distX > 0) ? "E" : "W"))}}
					{{/if}}
				</div>
			</div>
		{{/for}}
	</div>
{{/if}}