<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel" style="width: 150px">
			Breaker Setting: 
		</div>
		<div class="statusValue">
		{{if data.breaker}}
			Generator Enabled
		{{else}}
			Generator Disabled
		{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel" style="width: 150px">
			Charge Mode: 
		</div>
		<div class="statusValue">
		{{if (data.breaker && data.charge_count < 100)}}
			Generator CHARGING
		{{else (data.breaker && data.charge_count >= 100)}}
			Generator Running
		{{else (!data.breaker && data.charge_count > 0)}}
			Generator DISCHARGING
		{{else}}
			Generator Offline
		{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel" style="width: 150px">
			Charge Status: 
		</div>
		<div class="statusValue">
			{{:data.charge_count}}%
		</div>
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="width: 100%">
			{{:helper.link('Toggle Breaker', 'alert', {'gentoggle' : 1}, null)}}
		</div>
	</div>
</div>