<!-- 
	Interface for guest pass
	See: code/game/machinery/computer/guestpass.dm
-->

{{if data.mode == 1}}
	<div class='item'>
		<div class='itemContent'>
			<b>Activity Log</b>
		</div> 
		{{:helper.link('Print', 'print', {'print' : 1})}} {{:helper.link('Back', 'arrowreturn-1-w', {'mode' : 0})}}
	</div>
	<hr>
	{{for data.log}}
		<div class='item'>
			{{:value}}
		</div>
	{{/for}}
{{else}}
	<h3>Guest pass terminal #{{:data.uid}}</h3>
	<div class='item'>
		{{:helper.link('View activity log', 'list', {'mode' : 1})}} {{:helper.link('Issue Pass', 'eject', {'action' : 'issue'})}}
	</div>
	<hr>
	<div class='item'>
		<div class='itemLabelWide'>
			Issuing ID: 
		</div>
		{{:helper.link(data.giver ? data.giver : 'Insert ID', 'person', {'action' : 'id'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Issued to: 
		</div>
		{{:helper.link(data.giveName, 'pencil', {'choice' : 'giv_name'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Reason: 
		</div>
		{{:helper.link(data.reason, 'pencil', {'choice' : 'reason'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Duration (minutes): 
		</div>
		{{:helper.link(data.duration, 'clock', {'choice' : 'duration'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Access to areas: 
		</div>
	</div>
	{{for data.area}}
		<div class='item'>
			{{:helper.link(value.area_name, value.on ? 'check' : 'close', {'choice' : 'access', 'access' : value.area}, null, value.on ? 'linkOn' : null)}}
		</div>
	{{/for}}
{{/if}}