<!-- 
	Interface for holodeck computers 
	See: code/modules/holodeck/HolodeckControl.dm
-->

<h3>Current Loaded Programs:</h3>
{{for data.supportedPrograms}}
	<div class='item'>{{:helper.link(value, data.currentProgram == value ? 'check' : 'close', {'program' : value}, null, data.currentProgram == value ? 'linkOn' : null)}}</div>
{{/for}}
<div class='item'>Please ensure that only holographic weapons are used in the holodeck if a combat simulation has been loaded.</div>
{{if data.isSilicon}}
	{{if data.safetyDisabled}}
		{{if data.emagged}}
			<div class='item'><span class='bad'><b>ERROR</b></span>: Cannot re-enable Safety Protocols.</div>
		{{else}}
			<div class='item'>{{:helper.link('Re-Enable Safety Protocols?', 'help', {'AIoverride' : 1}, null, 'linkOn')}}</div>
		{{/if}}
	{{else}}
		<div class='item'>{{:helper.link('Re-Enable Safety Protocols?', 'help', {'AIoverride' : 1}, null, 'redButton')}}</div>
	{{/if}}
{{/if}}

{{if data.safetyDisabled}}
	{{for data.restrictedPrograms}}
		<div class='item'>{{:helper.link('Begin ' + value, data.currentProgram == value ? 'check' : 'close', {'program' : value.program}, null, data.currentProgram == value ? 'linkOn' : null)}}</div>
	{{/for}}
	<div class='item average'>Ensure the holodeck is empty before testing.</div>
	<div class='item'>Safety Protocols are <span class='bad'>DISABLED</span></div>
{{else}}
	<div class='item'>Safety Protocols are <span class='good'>ENABLED</span></div>
{{/if}}

<div class='item'>
	<div class='itemLabelNarrow'>Gravity:</div>
	{{:helper.link(data.gravity ? 'On ' : 'Off', data.gravity ? 'check' : 'close', {'gravity' : 1}, null, data.gravity ? 'linkOn' : 'redButton')}}
</div>