{{if data.printing}}
	<h5 class='average'>The computer is currently busy.</h5>
	<div class='notice'>
		<center><span class='bad'>Printing...</span></center>
	</div>
	<p>
		Thank you for your patience!
	</p>
{{else}}
	{{:helper.link('Access Modification', 'home', {'choice' : 'mode', 'mode_target' : 0}, !data.mode ? 'disabled' : null)}}
	{{:helper.link('Crew Manifest', 'folder-open', {'choice' : 'mode', 'mode_target' : 1}, data.mode ? 'disabled' : null)}}
	{{:helper.link('Print', 'print', {'choice' : 'print'}, (data.mode || data.has_modify) ? null : 'disabled')}}

	{{if data.mode}}
		<div class='item'>
			<h2>Crew Manifest</h2>
		</div>
		<div class='item'>
			<center><table class="pmon"><tbody>
				{{for data.manifest}}
					{{if value.elems.length}}
						<tr><th colspan="3" class={{:value.cat}}>{{:value.cat}}</th></tr>
						{{for value.elems :itemValue:itemIndex}}
							<tr>
								<td><span class="average">{{:itemValue.name}}</span></td>
								<td><span class="average">{{:itemValue.rank}}</span></td>
								<td><span class="average">{{:itemValue.active}}</span></td>
							</tr>
						{{/for}}
					{{/if}}
				{{/for}}
            </tbody></table></center>
		</div>
	{{else}}
		<div class='item'>
			<h2>Access Modification</h2>
		</div>

		{{if !data.authenticated}}
			<span class='alert'><i>Please insert the IDs into the terminal to proceed.</i></span><br>
		{{/if}}

		<div class='item'>
			<div class='itemLabel'>
				Target Identity:
			</div>
			<div class='itemContent'>
				{{:helper.link(data.target_name, 'eject', {'choice' : 'modify'})}}
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				Authorized Identity:
			</div>
			<div class='itemContent'>
				{{:helper.link(data.scan_name, 'eject', {'choice' : 'scan'})}}
			</div>
		</div>
		<hr>
        
		{{if data.authenticated}}
			{{if data.has_modify}}
				<div class='item'>
					<h2>Details</h2>
				</div>

				<form name='cardcomp' action='?src={{:data.src}}' method='get'>
					<div class='item'>
						<div class='itemLabel'>
							<input type='hidden' name='src' value='{{:data.src}}'>
							<input type='hidden' name='choice' value='reg'>
							Registered Name:
						</div>
						<div class='itemContent'>
							<input type='text' id='namefield' name='reg' value='{{:data.target_owner}}' onchange='markRed()'>
							<input type='submit' value='Rename' onclick='markGreen()'>
						</div>
					</div>
				</form>

				<form name='accountnum' action='?src={{:data.src}}' method='get'>
					<div class='item'>
						<div class='itemLabel'>
							<input type='hidden' name='src' value='{{:data.src}}'>
							<input type='hidden' name='choice' value='account'>
							Account Number:
						</div>
						<div class='itemContent'>
							<input type='text' id='accountfield' name='account' value='{{:data.account_number}}' onchange='markAccountRed()'>
							<input type='submit' value='Modify' onclick='markAccountGreen()'>
						</div>
					</div>
				</form>

				<div class='item'>
					<!-- VOREStation Edit Start -->
					<div class='itemLabel'>
						Dismissals:
					</div>
					<div class='itemContent'>
						{{:helper.link('Dismiss ' + data.target_owner, 'gear', {'choice' : 'terminate'}, data.target_rank == "Dismissed" ? 'disabled' : null, data.target_rank == "Dismissed" ? 'disabled' : 'linkDanger')}}
					</div>
					<!-- VOREStation Edit End -->
				</div>

				<div class='item'>
					<h2>Assignment</h2>
				</div>
				
				<div class='item'>
					<div id="all-value.jobs">
						<table>
							{{for data.departments}}
								<tr>
									<th>{{:value.department_name}}</th>
									<td>
										{{for value.jobs :jobValue:jobIndex}}
											{{:helper.link(jobValue.display_name, '', {'choice' : 'assign', 'assign_target' : jobValue.job}, data.id_rank == jobValue.job ? 'disabled' : null)}}
										{{/for}}
									</td>
								</tr>
							{{/for}}
							<tr>
								<th>Special</th>
								<td>
									{{:helper.link("Custom", '', {'choice' : 'assign', 'assign_target' : 'Custom'})}}
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				{{if data.centcom_access}}
				<div class='item'>
					<h2>Central Command</h2>
				</div>
				<div class='item' style='width: 100%'>
					{{for data.all_centcom_access}}
						<div class='itemContentWide'>
							{{:helper.link(value.desc, '', {'choice' : 'access', 'access_target' : value.ref, 'allowed' : value.allowed}, null, value.allowed ? 'selected' : null)}}
						</div>
					{{/for}}
				</div>
				{{else}}
					<div class='item'>
						<h2>{{:data.station_name}}</h2>
					</div>
					<div class='item' style='width: 100%'>
						{{for data.regions}}
							<div style='float: left; width: 175px; min-height: 250px'>
								<div class='average'><b>{{:value.name}}</b></div>
									{{for value.accesses :accessValue:accessKey}}
										<div class='itemContentWide'>
											{{:helper.link(accessValue.desc, '', {'choice' : 'access', 'access_target' : accessValue.ref, 'allowed' : accessValue.allowed}, null, accessValue.allowed ? 'selected' : null)}}
										</div>
									{{/for}}
								</div>
							</div>
						{{/for}}
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}
