<h2>Janitorial Supply Locator</h2>
{{for data.janidata}}
	<div class='item'>
		<div class='itemLabel'>
			{{:value.field}}
		</div>
		<div class='itemContent'>
			{{:value.val}}
		</div>
	</div>
{{/for}}