<h3>Current Loaded Programs:</h3>
{{for data.supportedPrograms}}
	<div class='item'>{{:helper.link(value, data.currentProgram == value ? 'check' : 'close', {'program' : value}, null, data.currentProgram == value ? 'linkOn' : null)}}</div>
{{/for}}

<div class='item'>
	<div class='itemLabel'>Area&nbspGravity:</div>
	{{:helper.link(data.gravity ? 'On ' : 'Off', data.gravity ? 'check' : 'close', {'gravity' : 1}, null, data.gravity ? 'linkOn' : 'redButton')}}
</div>

<div class='item'>
	<div class='itemLabel'>Full&nbspImmersion:</div>
	{{:helper.link(data.immersion ? 'On ' : 'Off', data.immersion ? 'check' : 'close', {'immersion' : 1}, null, data.immersion ? 'linkOn' : 'redButton')}}
</div>