<div class='block'>
	<div class='item'>
		<div class='itemLabelNarrow'>UAV:</div>
		<div>
			{{if data.current_uav}}
				{{:data.current_uav.status}}
			{{else}}
				[Not Connected]
			{{/if}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Signal:</div>
		<div>
			{{if data.current_uav}}
				{{:data.signal_strength}}
			{{else}}
				[Not Connected]
			{{/if}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Power:</div>
		<div>
			{{if data.current_uav}}
				{{:helper.link(data.current_uav.power ? 'Online' : 'Offline', data.current_uav.power ? 'check' : 'close', {'power_uav' : 1}, null, data.current_uav.power ? 'linkOn' : 'redButton')}}
			{{else}}
				[Not Connected]
			{{/if}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Camera:</div>
		<div>
			{{if data.current_uav}}
				{{:helper.link(data.current_uav.power ? 'Available' : 'Unavailable', data.current_uav.power ? 'check' : 'close', {'view_uav' : 1}, null, data.in_use ? 'linkOn' : null)}}
			{{else}}
				[Not Connected]
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class='itemLabel'>Paired UAVs:</div>
</div>
{{for data.paired_uavs}}
	<div>
		{{:helper.link(value.name, '', {'switch_uav' : value.uavref})}}{{:helper.link('', 'close', {'del_uav' : value.uavref}, null, 'redButton')}}
	</div>
{{/for}}
