<!-- 
	Interface for operating computer
	See: code/game/machinery/computer/operating.dm
-->

{{if data.table}}
	<h4>Patient Information:</h4>
	{{if data.victim}}
		<div class='item'>
			<div class='itemLabel'>Name:</div>
			<div class='itemContent'>{{:data.victim.real_name}}</div>
			
			<div class='itemLabel'>Age:</div>
			<div class='itemContent'>{{:data.victim.age}}</div>
			
			<div class='itemLabel'>Blood Type:</div>
			<div class='itemContent'>{{:data.victim.b_type}}</div>
		</div>
		<hr>
		<div class='item'>
			<div class='itemLabelWide' style='color: #98B0C3;'>Health:</div>
			<div class='itemContentNarrow'>{{:data.victim.health}}</div>
			
			<div class='itemLabelWide' style='color: #98B0C3;'>Brute Damage:</div>
			<div class='itemContentNarrow brute'>{{:data.victim.brute}}</div>
			
			<div class='itemLabelWide' style='color: #98B0C3;'>Toxins Damage:</div>
			<div class='itemContentNarrow toxin'>{{:data.victim.tox}}</div>

			<div class='itemLabelWide' style='color: #98B0C3;'>Fire Damage:</div>
			<div class='itemContentNarrow burn'>{{:data.victim.burn}}</div>

			<div class='itemLabelWide' style='color: #98B0C3;'>Suffocation Damage:</div>
			<div class='itemContentNarrow oxyloss'>{{:data.victim.oxy}}</div>

			<div class='itemLabelWide'>Patient Status:</div>
			<div class='itemContentNarrow'>{{:data.victim.stat}}</div>

			<div class='itemLabelWide'>Heartbeat Rate:</div>
			<div class='itemContentNarrow'>{{:data.victim.pulse}}</div>
		</div>
	{{else}}
		No Patient Detected
	{{/if}}
{{else}}
	No Table Detected
{{/if}}
