<!-- 
	Interface for operating computer
	See: code/game/machinery/computer/operating.dm
-->

{{if data.table}}
	<h4>Patient Information:</h4>
	{{if data.victim}}
	<div class='item'>
		<div class='itemLabel'>
			Name:
		</div>
		{{:data.victim.real_name}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Age:
		</div>
		{{:data.victim.age}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Blood Type:
		</div>
		{{:data.victim.b_type}}
	</div>
	<hr>
	<div class='item'>
		<div class='itemLabel'>
			Health:
		</div>
		{{:data.victim.health}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Brute Damage:
		</div>
		{{:data.victim.brute}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Toxins Damage:
		</div>
		{{:data.victim.tox}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Fire Damage:
		</div>
		{{:data.victim.burn}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Suffocation Damage:
		</div>
		{{:data.victim.oxy}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Patient Status:
		</div>
		{{:data.victim.stat}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Heartbeat Rate:
		</div>
		{{:data.victim.pulse}}
	</div>
	{{else}}
		No Patient Detected
	{{/if}}
{{else}}
	No Table Detected
{{/if}}
