<!-- 
Title: Parts Lathe UI
Used In File(s): \code\game\machinery\partslathe.dm
 -->
{{if data.error }}
	<div class='statusDisplay'><span class='bad'>Missing Materials: {{:data.error}}</span></div><BR>
{{/if}}

<h3>Materials</h3>
<div class="statusDisplay">
	{{for data.materials }}
		<div class="line">
			<div class="statusLabel">{{:value.display.toTitleCase()}}</div>
			<div class="statusValue">{{:helper.displayBar(value.percent, 0, 100, 
				(value.percent < 25) ? 'bad' : (value.percent < 50) ? 'average' : 'good',
				value.qty + "/" + value.max )}}</div>
			<div class="statusValue">{{:helper.link("Eject", 'eject', {'ejectMaterial' : value.name })}}</div>
		</div>
	{{/for}}
</div>

{{if data.copyBoard }}
	<h3>Circuit Reader</h3>
	<div class="statusDisplay">
		<div class="line">
			<div class="statusLabel">Loaded Circuit</div>
			<div class="statusValue">{{:data.copyBoard.toTitleCase()}}&nbsp;</div>
			<div class="statusValue">{{:helper.link("Eject", 'eject', {'ejectBoard' : 1})}}</div>
		</div>
		{{if !data.copyBoardReqComponents || data.copyBoardReqComponents.length == 0 }}
			<div class="line">Board has no required components.</div>
		{{else}}
			{{for data.copyBoardReqComponents }}
			<div class="line">
				<div class="itemLabel">{{:value.qty}}x</div>
				<div class="itemContent">{{:value.name.toTitleCase()}}</div>
			</div>
			{{/for}}
			<div class="line">{{:helper.link("Build All", 'wrench', {'queueBoard' : 1})}}</div>
		{{/if}}
	</div>
{{/if}}

{{if data.building }}
	<h3>Currently Building</h3>
	<div class="line">
		<div class="itemLabel">Currently Building:</div>
		<div class="itemContent">{{:data.building.toTitleCase()}}</div>
	</div>
	<div class="line">
		<div class="itemContent">{{:helper.displayBar(data.buildPercent, 0, 100, 'good')}}</div>
	</div>
{{/if}}

<h3>Queue</h3>
<div class="statusDisplay">
	{{if data.queue.length == 0}}
		<div class="line">Queue Empty</div>
	{{else}}
		{{for data.queue}}
			<div class="line">
				<div class="itemLabel">#{{:index+1}} {{:value.toTitleCase()}}</div>
				{{if index > 0 || !data.building}}
					<div class="itemContent">{{:helper.link("Cancel", 'close', {'cancel' : index+1})}}</div>
				{{/if}}
			</div>
		{{/for}}
	{{/if}}
</div>

<h3>Recipies</h3>
{{for data.recipies}}
	<div class="line">
		{{:helper.link(value.name.toTitleCase(), 'plus', {'queue' : value.type})}}
	</div>
{{/for}}
