<!-- 
	Interface for photocopiers 
	See: code/modules/paperwork/photocopier.dm
-->

{{if data.copyItem}}
	<div class='item'>
	{{:helper.link('Remove Item', 'eject', {'remove' : 1})}}
	{{if data.toner}}
		{{:helper.link('Copy', 'copy', {'copy' : 1})}}</div>
		<hr>
		<div class='item'>
			<div class='itemLabel'>
				Printing: 
			</div>
			<div class='itemContent'>
				<div style='clear: both; padding-top: 4px;'>
					{{:helper.link('-', null, {'min' : 1}, data.copies == 1 ? 'linkOff' : null)}}
					<div style='float: left; width: 40px; text-align: center;'>{{:data.copies}}</div>
					{{:helper.link('+', null, {'add' : 1}, data.copies == data.maxCopies ? 'linkOff' : null)}}
				</div>
			</div>
		</div>
		<hr>
		<div class='item'>
			<div class='itemLabel' style='width: 50%'>Current toner level:</div>
			<div class='itemContentNarrow'><b>{{:data.toner}}</b>u</div>
		</div>
	{{else}}
	<div class='item'>
		<span class='average'>Please insert a new toner cartridge!</span>
	</div>
	{{/if}}
{{else data.toner}}
	<h3>Please insert something to copy.</h3>
	{{if data.isSilicon}}
		{{:helper.link('Print photo from database', 'image', {'aipic' : 1})}}
	{{/if}}
	<div class='item'>
		<div class='itemLabel' style='width: 40%'>Current toner level:</div>
		<div class='itemContentNarrow'><b>{{:data.toner}}</b>u</div>
	</div>
{{else}}
	<div class='item'>
		<span class='average'>Please insert a new toner cartridge!</span>
	</div>
{{/if}}