<!--
Title: Power Monitoring Console (Map Content)
Used In File(s): \code\modules\nano\modules\power_monitor.dm
 -->
{{if data.focus}}
	{{for data.focus.apc_data}}
		{{if value.z == config.mapZLevel}}
		    <div class="mapIcon mapIcon16 {{:(value.cell_status == "N" ? 'batt_disc dead' : value.cell_status == "C" ? 'batt_chrg' : 'batt_full')}}" style="left: {{:(value.x + 0.2)}}px; bottom: {{:(value.y - 14.75)}}px;" unselectable="on">
		        <div class="tooltip hidden">
		        	<span>{{:value.name}}</span><br>
		        	<div>
			        	<span><b>APC Load:</b> {{:value.total_load}}</span>
			        	{{if value.cell_status == "N"}}
							{{:helper.link(value.cell_charge + '%', 'batt_disc', null,'disabled', 'width75btn')}}
						{{else value.cell_status == "C"}}
							{{:helper.link(value.cell_charge + '%', 'batt_chrg', null,'disabled', 'width75btn')}}
						{{else}}
							{{:helper.link(value.cell_charge + '%', 'batt_full', null,'disabled', 'width75btn')}}
						{{/if}}
					</div>
					<table style="clear: both">
						<tr><th>Equip.</th><th>Lighting</th><th>Env.</th></tr>
						<tr>
							<td>{{:value.s_equipment}}</td>
							<td>{{:value.s_lighting}}</td>
							<td>{{:value.s_environment}}</td>
						</tr>
					</table>
				</div>
			</div>
		{{/if}}
	{{/for}}
{{/if}}