<h2>Automated Shutoff Valve Monitoring Console</h2>
<hr>
{{for data.valves}}
	<div class="item">
		<div class="itemLabel" style="width:45%;">
			{{:value.name}}
		</div>
		<div class="itemContent" style="width:55%;">
			<span style="display:inline-block;width:45%;min-width:150px;">
				{{:helper.link(value.open   ? 'Open'    : 'Closed',   'alert', {'toggle_open'   : value.ref})}}
				{{:helper.link(value.enable ? 'Enabled' : 'Disabled', 'alert', {'toggle_enable' : value.ref})}}
			</span>
			<span style="display:inline-block;width:55%;min-width:150px;">
				Coordinates: ({{:value.x}}, {{:value.y}}, {{:value.z}})
			</span>
		</div>
	</div>
{{/for}}