<h2>Automated Shutoff Valve Monitoring Console</h2>
<hr>
<table style="width:100%"><tr><th>Name<th>Position<th>Open<th>Mode<th>Actions
{{for data.valves}}
	<tr>
        <td>{{:value.name}}
        <td>{{:value.x}}, {{:value.y}}, {{:value.z}}
        <td>{{:value.open ? 'Yes' : 'No'}}
        <td>{{:value.enabled ? 'Auto' : 'Manual'}}
        <td>{{:helper.link(value.open ? 'Close' : 'Open', null, {'toggle_open' : value.ref}, value.enabled ? 'disabled' : null)}}
            {{:helper.link(value.enabled ? 'Manual' : 'Auto', null, {'toggle_enable' : value.ref})}}
{{/for}}
</table>