{{if data.coredumped}}
	<div class='item'>
			<span class='bad'>TransCore dump complete. Disk ejected.</span>
	</div>
{{else data.emergency}}
	<div class='item'>
			<span class='bad'>!!WARNING!!<br>Dump Disk Inserted! This will transfer all minds to the dump disk, and the TransCore will be made unusable until post-shift maintenance! This should only be used in emergencies!</span><br>
	</div>
	{{:helper.link('DUMP CORE', 'radiation', {'coredump' : data.emergency}, null, 'redButton')}}
	{{:helper.link('Eject Disk', 'eject', {'ejectdisk' : data.emergency})}}
{{else}}
	<b>{{:data.temp}}</b>

	<!-- Menu1: Main Menu -->
	{{if data.menu == 1}}
		<h3>Resleeving Control</h3>
		<div class='item'>
		</div>
		
		<div class='item'>
		{{if data.podsLen > 0}}
			<span class='good'>{{:data.podsLen}} growing vats found.</span>
		{{/if}}
		</div>
		
		<div class='item'>
		{{if data.spodsLen > 0}}
			<span class='good'>{{:data.spodsLen}} SyntFabs found.</span>
		{{/if}}
		</div>
		
		<div class='item'>
		{{if data.sleeversLen > 0}}
			<span class='good'>{{:data.sleeversLen}} resleeving pods found.</span>
		{{/if}}
		</div>
		
		{{if data.podsLen}}
			{{for data.pods}}
				<div class='item'>{{:value.pod}}, biomass: <i>{{:value.biomass}}</i></div>
			{{/for}}
		{{/if}}
		
		{{if data.spodsLen}}
			{{for data.spods}}
				<div class='item'>{{:value.spod}}, S/G: <i>{{:value.steel}}/{{:value.glass}}</i></div>
			{{/for}}
		{{/if}}

		{{if data.sleeversLen}}
			{{for data.sleevers}}
				<div class='item'>{{:value.sleever}}, occupant: <i>{{:value.occupant}}</i></div>
			{{/for}}
		{{/if}}
		
		<!-- Database -->
		<h3>Database Functions</h3>
		<div class='item'>
			{{:helper.link('View Body Records', 'list', {'menu' : 2})}}
		</div>
		<div class='item'>
			{{:helper.link('View Mind Records', 'list', {'menu' : 3})}}
		</div>

	<!-- Menu2: Body record list -->	
	{{else data.menu == 2}}
		<h3>Current body records</h3>
		{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 1})}}
		<div class='item'>
			{{for data.bodyrecords}}
				{{:helper.link(value.name, 'document', {'view_brec' : value.recref})}}
			{{/for}}
		</div>

	<!-- Menu3: Mind record list -->
	{{else data.menu == 3}}
		<h3>Current mind records</h3>
		{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 1})}}
		<div class='item'>
			{{for data.mindrecords}}
				{{:helper.link(value.name, 'document', {'view_mrec' : value.recref})}}
			{{/for}}
		</div>	

	<!-- Menu4: Specific body record -->
	{{else data.menu == 4}}
		<h3>Selected Body Record</h3>
		<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 2})}}</div>

		{{if data.activeBodyRecord}}
			<div class='item'>
				<div class='itemLabel'>Name:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.real_name}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Species:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.speciesname}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Bio. Sex:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.gender}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Mind compat.:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.locked}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Synthetic:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.synthetic}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>OOC Notes:</div>
				<div class='itemContent'>{{:helper.link('View', null, {'boocnotes' : data.activeBodyRecord.booc}, data.activeBodyRecord.booc ? null : 'linkOff')}}</div>
			</div>

			{{:helper.link('Create', 'play', {'create' : data.activeBodyRecord.real_name}, data.activeBodyRecord.cando ? null : 'linkOff')}}
			
		{{else}}
			<div class='item bad'>ERROR: Record not found.</div>
		{{/if}}

	<!-- Menu5: Specific mind record -->	
	{{else data.menu == 5}}
		<h3>Selected Mind Record</h3>
		<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 3})}}</div>

		{{if data.activeMindRecord}}
			<div class='item'>
				<div class='itemLabel'>Name:</div>
				<div class='itemContent'>{{:data.activeMindRecord.charname}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Backup Status:</div>
				<div class='itemContent'>{{:data.activeMindRecord.obviously_dead}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>OOC Notes:</div>
				<div class='itemContent'>{{:helper.link('View', null, {'moocnotes' : data.activeMindRecord.mooc}, data.activeMindRecord.mooc ? null : 'linkOff')}}</div>
			</div>
			{{:helper.link('Sleeve', 'play', {'sleeve' : 1}, data.activeMindRecord.cando ? null : 'linkOff')}}
			{{:helper.link('Card', 'play', {'sleeve' : 2}, data.activeMindRecord.cando ? null : 'linkOff')}}
			
		{{else}}
			<div class='item bad'>ERROR: Record not found.</div>
		{{/if}}
	
	<!-- Menu6: Body OOC Notes -->	
	{{else data.menu == 6}}
		<h3>Body OOC Notes (This is OOC!)</h3>
		<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 4})}}</div>
		{{if data.activeBodyRecord}}
			<div class='itemLabel'>Notes:</div>
			<div class='itemContent multiLine'>{{:data.activeBodyRecord.booc}}</div>
		{{else}}
			<div class='item bad'>ERROR: Record not found.</div>
		{{/if}}
		
	<!-- Menu7: Mind OOC Notes -->	
	{{else data.menu == 7}}
		<h3>Mind OOC Notes (This is OOC!)</h3>
		<div class='item'>{{:helper.link('Back', 'arrowreturn-1-w', {'menu' : 5})}}</div>
		{{if data.activeMindRecord}}
			<div class='itemLabel'>Notes:</div>
			<div class='itemContent multiLine'>{{:data.activeMindRecord.mooc}}</div>
		{{else}}
			<div class='item bad'>ERROR: Record not found.</div>
		{{/if}}

	{{/if}}
{{/if}}