<H2>Station Status Display Interlink</H2>

<div class="item">
	<div class="itemLabel">
		<b>Code</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('Clear Message', 'trash', {'cartridge_topic' : "1", 'stat_display' : "blank"}, (data.stat_display.active == "blank") ? 'active' : null, null)}}
		{{:helper.link('Shuttle ETA', 'gear', 	 {'cartridge_topic' : "1", 'stat_display' : "shuttle"}, (data.stat_display.active == "shuttle") ? 'active' : null, null)}}
		{{:helper.link('Set Message', 'gear', 	 {'cartridge_topic' : "1", 'stat_display' : "message"}, (data.stat_display.active == "message") ? 'active' : null, null)}}
	</div>
	<div class="itemContent">
		{{:helper.link('Clear Alert', 'alert', 	 {'cartridge_topic' : "1", 'choice' : "Status", 'stat_display' : "alert", 'alert' : "default"}, (data.stat_display.active == "default") ? 'active' : null, null)}}
		{{:helper.link('Red Alert', 'alert', 	 {'cartridge_topic' : "1", 'choice' : "Status", 'stat_display' : "alert", 'alert' : "redalert"}, (data.stat_display.active == "redalert") ? 'active' : null, null)}}
		{{:helper.link('Lockdown', 'caution', 	 {'cartridge_topic' : "1", 'choice' : "Status", 'stat_display' : "alert", 'alert' : "lockdown"}, (data.stat_display.active == "lockdown") ? 'active' : null, null)}}
		{{:helper.link('Biohazard', 'radiation', {'cartridge_topic' : "1", 'choice' : "Status", 'stat_display' : "alert", 'alert' : "biohazard"}, (data.stat_display.active == "biohazard") ? 'active' : null, null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Message line 1
	</div>
	<div class="itemContent">
		{{:helper.link(data.stat_display.line1 + ' (set)', 'pencil', {'cartridge_topic' : "1", 'stat_display' : "setmsg", 'line' : "1"}, null, null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Message line 2
	</div>
	<div class="itemContent">
		{{:helper.link(data.stat_display.line2 + ' (set)', 'pencil', {'cartridge_topic' : "1", 'stat_display' : "setmsg", 'line' : "2"}, null, null)}}
	</div>
</div>
