<!-- 
Title: Telescience Control UI 
Used In File(s): \code\modules\telesci\telesci_computer.dm
 -->
{{if data.noTelepad == 1}}
	<div class='statusDisplay'>No telepad located. <BR>Please add telepad data.</div><BR>
{{else}}
	<div class='item'>{{:helper.link('Eject GPS', 'eject', {'ejectGPS' : 1}, null, (data.insertedGps ? '' : 'disabled'))}}</div>

	{{if data.cooldown}}
		<div class='statusDisplay'>Telepad is recharging.  Please wait {{:helper.round(data.cooldown)}} seconds.</div>
	{{else}}
		<div class='statusDisplay'>{{:data.tempMsg}}</div>
	{{/if}}

	<div class='item'>
		<div class='itemLabel'>Bearing:</div>
		<div class='itemContent'>{{:helper.link(data.rotation + '°', 'pencil', {'setrotation' : 1})}}</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>Distance:</div>
		<div class='itemContent'>{{:helper.link(data.distance + ' m', 'pencil', {'setdistance' : 1})}}</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>Max Distance:</div>
		<div class='itemContent'>{{:data.maxAllowedDistance}} m</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>Sector:</div>
		<div class='itemContent'>
		{{for data.sectorOptions}}
			{{:helper.link(value, 'gear', {'setz' : value}, null, value == data.currentZ ? 'selected' : null)}}
		{{/for}}
	</div>
	<div class="item">
		<div class="itemLabel">Controls:</div>
		<div class="itemContent">
			{{:helper.link('Send', 'arrowreturnthick-1-n', {'send' : 1})}}
			{{:helper.link('Receive', 'arrowreturnthick-1-s', {'receive' : 1})}}
			{{:helper.link('Recalibrate', 'gear', {'recal' : 1})}}
		</div>
	</div>

	{{if !data.lastTeleData}}
		<div class='statusDisplay'>No teleport data found.</div>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Telepad Location:</div>
			<div class='itemContent'>{{:data.lastTeleData.src_x}}, {{:data.lastTeleData.src_y}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Distance:</div>
			<div class='itemContent'>{{:helper.fixed(data.lastTeleData.distance)}}m</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Transit Time:</div>
			<div class='itemContent'>{{:helper.fixed(data.lastTeleData.time)}} secs</div>
		</div>
	{{/if}}
{{/if}}
