<div class='block'>
	<div class='item'>
		<div class='itemLabelNarrow'>Target:</div>
		<div>
			{{:helper.link(data.locked_name, null, {'select_target' : 1}, null, null)}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Calibrated:</div>
		<div>
			{{:helper.link(data.calibrated ? 'Accurate' : 'Test Fire', data.calibrated ? 'check' : 'close', {'test_fire' : 1}, null, data.calibrated ? 'linkOn' : 'redButton')}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Teleporter:</div>
		<div>
			{{:helper.link(data.teleporter_on ? 'Online' : 'Offline', data.teleporter_on ? 'check' : 'close', {'toggle_on' : 1}, null, data.teleporter_on ? 'linkOn' : 'redButton')}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Station:</div>
		<div>
			{{if data.station_connected}}
				Connected
			{{else}}
				Not Connected!
			{{/if}}
		</div>
	</div>

	<div class='item'>
		<div class='itemLabelNarrow'>Hub:</div>
		<div>
			{{if data.hub_connected}}
				Connected
			{{else}}
				Not Connected!
			{{/if}}
		</div>
	</div>
</div>