<!-- 
	Interface for turbine control computer
	See: code/modules/power/turbine.dm
-->
<h3>Turbine Controller</h3>
<div class="item">
	<div class="itemLabel">Status</div>
	<div class="itemContent">
		{{if data.broken}}
			<span class='bad'>Broken</span>
			{{:helper.link('Reconnect', 'refresh', {'reconnect' : 1})}}
		{{else}}
			<span class="{{:(data.online ? 'good' : 'bad')}}">
				{{:data.online && !(data.compressor_broke || data.turbine_broke) ? "Online" : "Offline"}}
			</span>
		{{/if}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">Compressor</div>
	<div class="itemContent">
		{{if data.compressor_broke}}
			<br>
			[ <span class='bad'>Compressor is inoperable</span> ]
		{{/if}}
		{{if data.turbine_broke}}
			<br>
			[ <span class='bad'>Turbine is inoperable</span> ]
		{{/if}}
		{{if (!data.broken)}}
			{{:helper.link('On', 'power', {'power-on' : 1}, data.online ? 'selected' : null)}}
			{{:helper.link('Off', 'close', {'power-off' : 1}, data.online ? null : 'selected')}}
		{{/if}}
	</div>
</div>

<h3>Readout</h3>
<div class="item">
	<div class="itemLabel">Turbine Speed</div>
	<div class="itemContent">{{:data.broken ? "--" : data.rpm}} RPM</div>
</div>
<div class="item">
	<div class="itemLabel">Internal Temperature</div>
	<div class="itemContent">{{:data.broken ? "--" : data.temp}} K</div>
</div>
<div class="item">
	<div class="itemLabel">Generated Power</div>
	<div class="itemContent">{{:data.broken ? "--" : data.power}}</div>
</div>
<div class="item">
	<div class="itemLabel">Vent doors</div>
	<div class="itemContent">
		{{:helper.link('Closed', 'locked', {'doors' : 1}, data.door_status ? 'selected' : null)}}
		{{:helper.link('Open', 'unlocked', {'doors' : 1}, data.door_status ? null : 'selected')}}
	</div>
</div>
