
<!-- 
Title: Syndicate Uplink, uses some javascript to change nanoUI up a bit.
Used In File(s): \code\game\objects\items\devices\uplinks.dm
 -->
{{:helper.syndicateMode()}}

<style type="text/css">
.fixedLengthLink .link {
	float: left;
	width: 270px;
	height: auto;
	white-space: normal;
	background-color: #8f1414;
	border: none;
	text-align: center;
}

.link {
	background: none;
	border: none;
	white-space: normal;
	height: auto;
	text-align: left;
}

.fixedLengthLink .link:hover {
	border: none;
}

a:hover, .zoomLink:hover, .linkActive:hover {
	cursor: pointer;
	background-color: #ff1414;
}

.category {
	width: 150px;
	margin-left: 20px;
}

.category .uiIcon16 {
	margin-left: -20px;
}

.categoryActive {
	background-color: #ff1414;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-base-color: #8f1414;
	scrollbar-arrow-color: #ffffff;
	height: 374px;
}

.statusDisplay {
	border: 1px solid #8f1414;
}
</style>

<H2><span class="white">{{:data.welcome}}</span></H2>
<br>
<div class="item">
	<div class="itemLabelNarrow">
		<b>Functions</b>:
	</div>
	<div class="itemContent">
		<div class="line">
			{{:helper.link('Request Items', 'gear', {'menu' : 0}, null, 'fixedLeftWider')}}
			{{:helper.link('Exploitable Information', 'gear', {'menu' : 2}, null, 'fixedLeftWider')}}
		</div>
		<div class="line">
			{{:helper.link('Return', 'arrowreturn-1-w', {'return' : 1}, null, 'fixedLeft')}}
			{{:helper.link('Close', 'gear', {'lock' : "1"}, null, 'fixedLeft')}}
		</div>
	</div>
</div>
<br>

<div class="item">
	<div class="itemLabel">
		<b>Tele-Crystals</b>:
	</div>
	<div class="itemContent">
		{{:data.crystals}}
	</div>
</div>


{{if data.menu == 0}}
	{{if data.discount_amount < 100}}
		<div class="item" style="margin-bottom: 10px;">
			<div class="itemLabel">
				<b>Currently discounted</b>:
			</div>
			<div class="itemContent">
				{{:data.discount_name}} - {{:data.discount_amount}}% off. Offer will expire at: {{:data.offer_expiry}}
			</div>
		</div>
	{{/if}}

	<div style="float: left; width: 30%;">
		<div class="itemLabel">Categories</div>
		{{for data.categories}}
			<div class="line">
				{{:helper.link(value.name, 'gear', {'category' : value.ref}, (value.name == data.current_category) ? 'categoryActive' : '', 'category')}}
			</div>
		{{/for}}
	</div>

	<div style="float: right; width: 70%">
		<div class="itemLabel">
			Request Items
		</div>
		<div class="itemContentWide" style="width: 95%;">
			<div class="statusDisplay">
				<div class="line scroll">
					{{for data.items}}
						<div class="line">
							<div class="statusValue">
								<div class="fixedLengthLink">
									{{:helper.link(value.name, 'gear', {'buy_item' : value.ref}, value.can_buy ? null : 'disabled')}}
								</div>
								<div style="float: right; margin-right: 20px;">{{:value.cost}} points</div>
							</div>
						</div>
					{{/for}}
				</div>
			</div>
		</div>
	</div>

{{else data.menu == 2}}
    <H2><span class="white">Information Record List:</span></H2>
    <br>
    <div class="item">
        Select a Record
    </div>
    <br>
    {{for data.exploit_records}}
        <div class="item">
             {{:helper.link(value.Name, 'gear', {'menu' : 21, 'id' : value.id}, null, null)}}
        </div>
    {{/for}}
{{else data.menu == 21}}
    <H2><span class="white">Information Record:</span></H2>
    <br>
    <div class="statusDisplayRecords">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                {{if data.exploit_exists == 1}}
                    <span class="good">Name:				</span> <span class="average">{{:data.exploit.name}}			</span><br>
                    <span class="good">Sex:					</span> <span class="average">{{:data.exploit.sex}}				</span><br>
                    <span class="good">Species:				</span> <span class="average">{{:data.exploit.species}}			</span><br>
                    <span class="good">Age:					</span> <span class="average">{{:data.exploit.age}}				</span><br>
                    <span class="good">Rank:				</span> <span class="average">{{:data.exploit.rank}}			</span><br>
					<span class="good">Home System:			</span> <span class="average">{{:data.exploit.home_system}}		</span><br>
					<span class="good">Citizenship:			</span> <span class="average">{{:data.exploit.citizenship}}		</span><br>
					<span class="good">Faction:				</span> <span class="average">{{:data.exploit.faction}}			</span><br>
					<span class="good">Religion:			</span> <span class="average">{{:data.exploit.religion}}		</span><br>
                    <span class="good">Fingerprint:			</span> <span class="average">{{:data.exploit.fingerprint}}		</span><br>
                    <span class="good">Other Affiliation:	</span> <span class="average">{{:data.exploit.antagfaction}}	</span><br>

                    <br>Acquired Information:<br>
                    <span class="good">Notes:<br>	</span> <span class="average">{{:data.exploit.nanoui_exploit_record}}</span><br><br>
                {{else}}
                    <span class="bad">
                        No exploitative information acquired!
                        <br>
                        <br>
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}
