<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Scn. Ramestat Core:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.timeout_percent, 0, 100, (data.timeout_percent < 75) ? 'bad' : (data.timeout_percent < 100) ? 'average' : 'good')}}
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Mineral Content:
	</div>
	<div class="itemContent">
		{{:data.difficulty}}
	</div>
</div>
</div>
<div class="item">
	<div class="itemLabel">
		Shuttle Location:
	</div>
	<div class="itemContent">
		{{:data.shuttle_location}}
	</div>
	{{if data.can_recall_shuttle > 0}}
	<div class="itemContent">
		{{:helper.link('Recall Shuttle', 'alert-red', {'action' : 'recall_shuttle'}, null)}}
	</div>
	{{/if}}
</div>
{{if data.occupied > 0}}
	<div class="item">
		<div class="itemLabel">
			WARNING:
		</div>
		<div class="itemContent">
			Area Occupied by {{:data.occupied}} personnel!
		</div>
	</div>
{{/if}}


<h3>Scanner Operation</h3>
<div class="item">
	<div class="itemLabel">
		Scanner Activation:
	</div>
	<div class="itemContent">
		{{:helper.link('Scan For Asteroids', 'power', {'action' : 'scan_for_new'}, data.scan_ready ? null : 'disabled')}}
	</div>
</div>
{{if data.scanning > 0}}
<div class="item">
	<div class="itemLabel">
		Scanning: 
	</div>
	<div class="itemContent">
		In Progress...
	</div>
</div>
{{/if}}
{{if data.updated > 0 && data.scanning == 0}}
<div class="item">
	<div class="itemLabel">
		Info:
	</div>
	<div class="itemContent">
		Updated shuttle destination!
	</div>
</div>
{{/if}}
{{if data.debug > 0}}
<div class="item">
	<div class="itemLabel">
		DEBUG: 
	</div>
	<div class="itemContent">
		TP:{{:data.timeout_percent}},DS:{{:data.diffstep}},D:{{:data.difficulty}},O:{{:data.occupied}},DBG:{{:data.debug}},SL:{{:data.shuttle_location}},SAS:{{:data.shuttle_at_station}},SR:{{:data.scan_ready}}
	</div>
</div>
{{/if}}