.ColorBox {
  display: inline-block;
<<<<<<< HEAD
  width: 1em;
  height: 1em;
  line-height: 1em;
=======
  width: 12px;
  height: 12px;
  line-height: 12px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  text-align: center;
}
