$color-background: rgba(0, 0, 0, 0.33) !default;

.NanoMap__contentOffset {
  background-color: $color-background;
  height: 100%;
  overflow-y: scroll;
}

.NanoMap__container {
  overflow: hidden;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  z-index: 1;
}

.NanoMap__marker {
  z-index: 10;
  padding: 0px;
  margin: 0px;
}
