@use 'sass:color';
<<<<<<< HEAD
@use '../base.scss';
=======
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
@use '../functions.scss' as *;
@use './Input.scss';

$border-color: Input.$border-color !default;
$border-radius: Input.$border-radius !default;

.NumberInput {
  position: relative;
  display: inline-block;
<<<<<<< HEAD
  border: base.em(1px) solid $border-color;
  border: base.em(1px) solid rgba($border-color, 0.75);
=======
  border: 1px solid $border-color;
  border: 1px solid rgba($border-color, 0.75);
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  border-radius: $border-radius;
  color: $border-color;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
<<<<<<< HEAD
  padding: 0 base.em(4px);
  margin-right: base.em(2px);
  line-height: base.em(17px);
=======
  padding: 0 4px;
  margin-right: 2px;
  line-height: 17px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  text-align: right;
  overflow: visible;
  cursor: n-resize;
}

.NumberInput--fluid {
  display: block;
}

.NumberInput__content {
<<<<<<< HEAD
  margin-left: 0.5em;
=======
  margin-left: 6px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
}

.NumberInput__barContainer {
  position: absolute;
<<<<<<< HEAD
  top: base.em(2px);
  bottom: base.em(2px);
  left: base.em(2px);
=======
  top: 2px;
  bottom: 2px;
  left: 2px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
}

.NumberInput__bar {
  position: absolute;
  bottom: 0;
  left: 0;
<<<<<<< HEAD
  width: base.em(3px);
  box-sizing: border-box;
  border-bottom: base.em(1px) solid $border-color;
=======
  width: 3px;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  background-color: $border-color;
}

.NumberInput__input {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  outline: 0;
  width: 100%;
<<<<<<< HEAD
  font-size: base.em(12px);
  line-height: base.em(17px);
  height: base.em(17px);
  margin: 0;
  padding: 0 0.5em;
=======
  font-size: 12px;
  line-height: 17px;
  height: 17px;
  margin: 0;
  padding: 0 6px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  font-family: Verdana, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: right;
}
