@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-default: colors.bg(colors.$primary) !default;
$color-background: rgba(0, 0, 0, 0) !default;
$border-radius: base.$border-radius !default;
$bg-map: colors.$bg-map !default;

.ProgressBar {
  display: inline-block;
  position: relative;
  width: 100%;
<<<<<<< HEAD
  padding: 0 0.5em;
=======
  padding: 0 6px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  border-radius: $border-radius;
  background-color: $color-background;
  transition: border-color 500ms;
}

.ProgressBar__fill {
  position: absolute;
<<<<<<< HEAD
  top: -0.5px;
  left: 0px;
  bottom: -0.5px;
=======
  top: 0;
  left: 0;
  bottom: 0;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
}

.ProgressBar__fill--animated {
  transition: background-color 500ms, width 500ms;
}

.ProgressBar__content {
  position: relative;
<<<<<<< HEAD
  line-height: base.em(17px);
=======
  line-height: 17px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
  width: 100%;
  text-align: right;
}

.ProgressBar--color--default {
<<<<<<< HEAD
  border: base.em(1px) solid $color-default;
=======
  border: 1px solid $color-default;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui

  .ProgressBar__fill {
    background-color: $color-default;
  }
}

@each $color-name, $color-value in $bg-map {
  .ProgressBar--color--#{$color-name} {
<<<<<<< HEAD
    border: base.em(1px) solid $color-value !important;
=======
    border: 1px solid $color-value !important;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui

    .ProgressBar__fill {
      background-color: $color-value;
    }
  }
}
