.Table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}

.Table--collapsing {
  width: auto;
}

.Table__row {
  display: table-row;
}

.Table__cell {
  display: table-cell;
<<<<<<< HEAD
  padding: 0 0.25em;
=======
  padding: 0 3px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.Table__row--header .Table__cell,
.Table__cell--header {
  font-weight: bold;
<<<<<<< HEAD
  padding-bottom: 0.5em;
=======
  padding-bottom: 6px;
>>>>>>> f1eb479... Merge pull request #7317 from ShadowLarkens/tgui
}

.Table__cell--collapsing {
  width: 1%;
  white-space: nowrap;
}
