.theme-pda_retro:root {
  // Base
  --color-base: hsl(85, 11%, 43%);
  --color-primary: hsl(0, 0%, 0%);
  --color-label: hsl(0, 0%, 0%);
  --color-average: hsl(0, 0%, 0%);
  --base-gradient-spread: 0;
  --color-text: var(--color-black);
  --border-radius-unit: 0;

  // Components
  --button-background-default: hsl(52, 40%, 85%);
  --button-background-selected: hsl(0, 90%, 32%);
  --button-background-caution: hsl(30, 91%, 39%);
  --button-background-danger: hsl(61, 100%, 31%);

  --progress-bar-background: hsla(0, 0%, 0%, 0.502);

  --color-section: hsla(0, 0%, 0%, 0.102);

  // Interfaces
  --tinder-sent-color: hsl(86, 13%, 62%);
  --tinder-received-color: hsl(55, 30%, 60%);

  .Button {
    color: #161613;
    background-color: hsl(83, 11%, 33%);
    border: 1px solid hsl(0, 0%, 0%);

    &-disabled {
      color: hsl(0, 0%, 31%);
      font-family: var(--font-family-mono);

      &:hover {
        color: hsl(0, 0%, 67%);
      }
    }

    &--selected {
      color: var(--color-white);
      border-style: inset;
    }
  }

  .Layout__content {
    background-image: none;
  }

  .LabeledList__label {
    font-weight: bold;
  }

  .Tooltip::after {
    color: hsl(0, 0%, 100%);
  }
}
